<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
	  <img src="assets/img/Github_black.png" width="17" height="17"/>
	  <a href="https://github.com/rebeccagj" rel="author">GitHub</a><br>
	  <img src="assets/img/LinkedIN_black.png" width="17" height="17"/>
	  <a href="https://www.linkedin.com/rebecca-jaszczak" rel="external">LinkedIn</a><br>
	  <img src="assets/img/Twitter_black.png" width="17" height="17"/>
	  <a href="https://twitter.com/rzbzz" rel="external">Twitter</a><br>
  </ul>
</div>
